ul,
p,
h1,
h2,
h3,
h4,А
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
:root {
  --brand-color: #ffffff;
  --second-white-color: #f5f5f5;
  --accent-color: #2196f3;
  --prime-black-color: #000000;
  --second-black-color: #212121;
  --third-black-color: #757575;
  --backgroun-footer-color: #2f303a;
  --active-color: #188ce8;
  --background-button-color: #f5f4fa;
  --mailto-ground-color: rgba(255, 255, 255, 0.6);
  --gray-border-color: #eeeeee;
  --header-line-color: #ececec;
  --customer-border-color: #afb1b8;
  --elipse-color: #43444d;
  --background-hero-color: #c4c4c4 ;
}
li {
  list-style-type: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header */
header {
  border-bottom: 1px solid var(--header-line-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-header {
  color: var(--prime-black-color);
}
.accent {
  color: var(--accent-color);
}
.nav {
  margin-left: 93px;
  display: flex;
  gap: 50px;
}
.advantages-item {
  display: flex;
  gap: 30px;
}
.site-nav.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-black-color);
  text-decoration: none;
  display: block;
  padding: 32px 0;
}
.site-nav.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill:var(--third-black-color);
}
.mailto-tel-header:hover .icon,
.mailto-tel-header:focus .icon {
  fill: var(--accent-color);
}
.mailto-tel-header {
  color: var(--third-black-color);
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 32px 0;
}
.mailto-tel-header.link {
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.first-header-container {
  display: flex;
  align-items: center;
}
.second-header-container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.mailito-tel-container {
  display: flex;
  gap: 50px;
}
.mailito-tel-container {
  justify-content: flex-end;
}
.container-mt {
  display: flex;
  align-items: flex-end;
}
nav.container {
  display: flex;
  align-items: center;
  padding: 0;
}
/* Main */
.hero {
  background-color: var(--background-hero-color);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-Img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 696px;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}
.selection:hover,
.selection:focus {
  background-color: var(--active-color);
}
.selection:active {
  color: var(--brand-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.filter {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}
.link-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}
.link-filter.selection:hover,
.link-filter.selection:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
  /* padding: 6px 25px; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  margin: 0 0 50px 0;
}
.advantages,
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-icon {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-button-color);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  outline: 1px solid var(--customer-border-color);
  fill: var(--customer-border-color);
  border-radius: 4px;
}
.customer-link:focus,
.customer-link:active,
.customer-link:hover {
  fill: var(--accent-color);
  outline: 1px solid var(--accent-color);
}
.advantages-title {
  line-height: 1.14;
  font-size: 14px;
  color: var(--second-black-color);
}
.text {
  line-height: 1.71;
  margin-top: 10px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-black-color);
  text-align: center;
  margin-bottom: 10px;
}
.what_we_doing-section {
  padding-bottom: 94px;
}
.container-what_we_doing {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.what_we_doing {
  display: flex;
}
.what_we_doing-item:not(:last-of-type) {
  margin: 0 30px 0 0;
}
.our-team {
  background-color: var(--background-button-color);
  padding: 94px 0;
}
.team-presentation {
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.title-our-team {
  font-size: 36px;
  line-height: 1.17;
  color: var(--second-black-color);
  text-align: center;
  margin-bottom: 50px;
}
.our-team-item {
  display: flex;
  gap: 30px;
}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-txt {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.regular-customers-line {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-black-color);
  margin: 0;
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}
.grey-border {
  border-right: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
  border-left: 1px solid var(--gray-border-color);
  padding: 20px 24px;
}
.img-block {
  display: block;
  width: 100%;
}
.item-last p:last-of-type {
  font-size: 16px;
  line-height: 1.88;
  padding: 4px 0 20px 24px;
  margin: 0;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* Footer */
.ground {
  background-color: var(--backgroun-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-ground {
  color: var(--brand-color);
  display: inline-block;
  margin-bottom: 20px;
}
.address-style {
  font-style: normal;
}
.link-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}
.mailto-tel-ground {
  line-height: 1.71;
  color: var(--mailto-ground-color);
  text-decoration: none;
}
.ground-li {
  margin-bottom: 9px;
}
.web {
  margin-left: 70px;
}
.container.footer {
  display: flex;
  align-items: baseline;
}
.footer-text {
  color: var(--brand-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.14;
}
.footer-web {
  display: flex;
  gap: 10px;
  justify-content: center;
  fill: var(--brand-color);
}
.social-web {
  width: 44px;
  height: 44px;
  background-color: var(--elipse-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-web:hover,
.social-web:focus {
  background-color: var(--accent-color);
}
.soc-web {
  fill: var(--brand-color);
}
.our-team-web {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.s-w-our-team {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-w-our-team:hover,
.s-w-our-team:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
}
.icon-our-team {
  fill: currentColor;
}
.portfolio-box-link {
  display: block;
  text-decoration: none;
  color: var(--third-black-color);
}
.portfolio-box-link:hover,
.portfolio-box-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
